<div class="container">

  <h1><%= @article.title %></h1>

  <div>
    <%= @article.body %>
  </div>

  <% unless @article.user.nil? %>
    <p>
      Escrito por: @article.user.email
    </p>
  <% end %>

</div>